<h1>Admin Dashboard
</h1>

<p>There are <%= @products %> in the Database </p>

<%= link_to "Check out Products", "/admin/products"%> 

<p>There are <%= @category %> in the Database </p> 

<%= link_to "Check out Categories", "/admin/categories"%>
